// Place all the styles related to the OneTest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pivot_one_test_table {
  width: 550px;
  float: left;
}

#history_one_test_table {
  width: 300px;
  float: left;
  margin-left: 20px;
}